@page
@model ResetPasswordModel

<h1>Reset Password</h1>

@if (Model.Message != null)
{
        <p>@Model.Message</p>
}

<form method="post">
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password" class="form-control" id="new-password" name="NewPassword">
    </div>
    <input type="hidden" name="token" value="@Model.Token" />
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
